#instructor {
    position: relative;
  }
  
  #instructor:hover::after {
    content: '';
    position: absolute;
    left: 750px;
    bottom: -5px; 
    width: 250px;
    height: 3px; 
    background-color: #07332F; 
  }